appdirs==1.4.4
astroid==2.3.3
click==7.1.2
colorama==0.4.3
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
gunicorn==20.0.4
imutils==0.5.4
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.19.5
opencv-python==4.5.1.48
pylint==2.4.4
six==1.14.0
virtualenv==20.4.0
Werkzeug==1.0.1
wrapt==1.11.2
